@font-face {
  font-family: 'Bettrish'; /* Nama font yang akan digunakan */
  src: url('asset/font/Bettrish\ Dafont.ttf') format('truetype'); /* Lokasi dan format font */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bettrish'; /* Nama font yang akan digunakan */
  src: url('asset/font/Bettrish\ Italic.ttf') format('truetype'); /* Lokasi dan format font */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Rouge Script'; /* Nama font yang akan digunakan */
  src: url('asset/font/RougeScript-Regular.ttf') format('truetype'); /* Lokasi dan format font */
  font-weight: normal;
  font-style: normal;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial Narrow';
  background-color: #131313;
  overflow: hidden; 
}

.frame {
  position: relative;
  max-width: 500px;
  width: 100%;
  min-height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  overflow: hidden;
  transition: opacity 1s, transform 1s;
}

/* INI BAGIAN AWAL FRAME COVER */


.frame-cover {
  background-image: url('img/bg.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 5% ; /* Menggunakan persen untuk padding */
  position: absolute; /* Agar frame-cover bisa bergerak di atas frame-1 */
  top: 0;
  z-index: 2; /* Memberikan z-index lebih tinggi agar frame-cover berada di depan */
  transition: transform 1s ease, opacity 1s ease;
}

.frame-cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Memastikan lapisan gelap berada di belakang konten */
}

.gif-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Sesuaikan lebar dengan lebar frame */
  height: 100%; /* Sesuaikan tinggi dengan tinggi frame */
  object-fit: cover; /* Menjaga proporsi gambar agar sesuai dengan ukuran frame */
  z-index: 1; /* Agar GIF berada di belakang konten */
  opacity: 20%;
  mix-blend-mode: screen; /* Membuat efek transparan seperti mode screen */
}

/* Transisi keluar untuk frame-cover */
.frame-cover.out-frame {
    transform: translateY(-100%) translateX(-50%); /* Pindahkan frame-cover ke atas */
    opacity: 100%; /* Membuat frame-cover transparan */
}

@keyframes zoomIn {
from {
  background-size: 140vh;
}
to {
  background-size: 100vh;
}
}

.frame-cover h4,
.frame-cover h1,
.frame-cover p {
  margin: 0.1em 0; /* Mengurangi jarak antar elemen teks */
  color: #4e8ea8; /* Warna font yang konsisten */
}

.frame-cover h4 {
  font-size: 2em; /* Gunakan em untuk ukuran font relatif */
}

.frame-cover h1 {
  font-size: 3em;
}

.frame-cover p {
  font-size: 1em;
}

.tombolcover {
  position: fixed;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

/* Gaya tombol */
.btn-dark {
background-color: #305a6b; /* Warna latar belakang tombol */
border: none; /* Menghapus border default */
color: #fff; /* Warna teks tombol */
padding: 8px 18px; /* Padding tombol */
font-size: 14px; /* Ukuran font tombol */
border-radius: 5px; /* Sudut membulat tombol */
cursor: pointer; /* Menampilkan kursor pointer saat hover */
transition: background-color 0.3s ease; /* Transisi halus saat hover */
margin-bottom: 10px;
}

.btn-dark:hover {
background-color: rgb(26, 26, 26); /* Warna latar belakang saat hover */
}

/* INI BAGIAN AKHIR FRAME COVER */


.vector-mempelai{
  width: 280px;
  height: 280px;
}

.frame-1 {
  background-image: url(img/quote.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 50%;
  color: #305a6b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.dandiantara {
  position: relative;
  color: #305a6b;
}

.frame-2 {
  display: flex;
  background-image: url(img/bg2.jpg);
  background-size: cover;
  display: flex;
  color: #305a6b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.frame-2a {
  display: flex;
  background-image: url(img/bg2.jpg);
  background-size: cover;
  background-position: center;
  color: #0f0f0f;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Perubahan di sini, agar konten dimulai dari atas */
  text-align: center;
  padding-top: 0px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  transition: transform 1s ease, opacity 1s ease;

}

.frame-2a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Memastikan lapisan gelap berada di belakang konten */
}

.bgphoto {
  position: relative;
  top: 0;
  width: 70%; /* Sesuaikan lebar dengan lebar frame */
  margin-bottom: 30px; /* Memberikan ruang antara gambar dan teks */
}

.frame-3 {
  background-image: url(img/bg2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  color: #305a6b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.frame-3 h5{
  font-size: 14px;
}

.frame-4 {
  display: flex;
  background-image: url(img/bg2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  color: #305a6b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.frame-4 h4{
  font-family: "Redressed";
  font-size: 32px;
  margin-bottom: 30px;
}


.frame-4 .countdown, .frame-4 .event {
  background: rgba(255, 255, 255, 0.5);
  color: #305a6b;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}

.frame-4 .countdown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.frame-5 {
  display: flex;
  background-image: url(img/bg2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  color: #0f0f0f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}


.moment {
display: grid;
grid-template-columns: 2fr 1fr; /* 2 kolom */
padding-left: 10px;
padding-right: 10px;
gap: 10px;
}

.moment .foto {
position: relative;
overflow: hidden;
border-radius: 8px;
cursor: pointer;
}

/* Ukuran frame untuk setiap foto */
.moment .foto.lebar {
grid-column: span 1.5; /* Lebar foto memakan dua kolom */
aspect-ratio: 2 / 1.6; /* Rasio aspek lebar */
}

.moment .foto.panjang {
aspect-ratio: 0 / 0; /* Rasio aspek panjang (portrait) */
}

.moment .foto.large {
grid-column: span 2; /* Lebar penuh */
aspect-ratio: 3 / 2; /* Rasio aspek besar */
}

/* Gambar di dalam frame */
.moment .foto img {
width: 100%;
height: 100%;
object-fit: cover; /* Menyesuaikan gambar tanpa meregang */
transition: transform 0.3s ease-in-out;
}

.moment .foto:hover img {
transform: scale(1.05); /* Animasi zoom saat hover */
}

.modal {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
flex-direction: column;
justify-content: center;
align-items: center;
}

.modal-header {
position: absolute;
top: 10px;
right: 20px;
display: flex;
justify-content: flex-end;
width: 100%;
}

.close {
color: white;
font-size: 30px;
cursor: pointer;
background: none;
border: none;
}

.modal-content {
display: flex;
justify-content: center;
align-items: center;
max-width: 80%;
max-height: 70%;
background-color: rgba(0, 0, 0, 0);
}

.modal-content img {
max-width: 100%;
max-height: 100%;
border-radius: 10px;
}

.modal-footer {
display: flex;
justify-content: center;
gap: 20px;
margin-top: 10px;
}

.modal-footer button {
background-color: rgba(0, 0, 0, 0.8);
color: white;
font-size: 10px;
border: none;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
}

.modal-footer button:hover {
background-color:  rgba(82, 82, 82, 0.8);
}

.frame-6 {
  display: flex;
  background-image: url(img/bg2.jpg);
  background-size: cover;
  display: flex;
  color: #0f0f0f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.frame-7 {
  display: flex;
  background-image: url(img/bg2.jpg);
  background-size: cover;
  color: #305a6b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.gift-card {
  background-image: url(img/giftcard.png);
  color: #305a6b;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  width: 350px;
}
.gift-card-logo-mandiri {
  align-self: flex-start;
  margin-bottom: 20px;
}
.gift-card-logo-bri {
  align-self: flex-start;
  margin-bottom: 20px;
}



.frame-8 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding-left: 20px;
padding-right: 20px;
color: #915f3e;
}  

.frame-8 h4 {
color: #915f3e;
font-family:"Redressed" ;
padding-top: 20px;
}  

.frame-8 p {
color: #000000;
font-size: 12px;
}  

/* Untuk menyusun elemen di dalam container */
.story {
text-align: center;
margin-bottom: 20px;
}

.story-image {
width: 60%;
max-width: 500px;  /* Ukuran maksimum gambar */
height: auto;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Untuk teks yang rata kanan */
.text-right {
text-align: right;
}

/* Menyusun Story 1 di atas */
.top-story {
margin-bottom: 50px;  /* Jarak antara Story 1 dan Story 2/3 */
}

/* Menyusun Story 2 dan Story 3 di bawah */
.bottom-story {
display: inline-block;
width: 100%;  /* Membagi dua lebar untuk Story 2 dan Story 3 */
margin-bottom: 20px;
vertical-align: top;
}

.left-story {
text-align: left;
}

.right-story {
text-align: right;
}

button {
padding: 10px 20px;
font-size: 16px;
}

.hiddentrans {
opacity: 0;
transform: translateY(100%);
pointer-events: none;
}

.visible {
opacity: 1;
transform: translateY(0);
pointer-events: auto;
}

.hidden {
  display: none;
}

.tombolmusik {
  position: fixed;
  right: calc(50% - 190px);
  z-index: 2000;
}

#music-control {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  padding: 5px;
  bottom: 50px;
  border: none;
}

.transisi {
opacity: 0;
transition: all 1s ease-in-out;
/* Menambahkan transisi untuk perubahan ukuran */
transform: scale(0.5); /* Gambar kecil pada awalnya */
}

.transisi-bawah {
transform: translateY(10px);
}

.transisi-atas {
transform: translateY(-10px);
}

.transisi-kanan {
transform: translateX(10px);
}

.transisi-kiri {
transform: translateX(-10px);
}

.transisi-zoom-in {
opacity: 1; /* Opacity penuh pada akhir transisi */
transform: scale(1); /* Gambar besar pada akhir transisi */
}

.visible {
opacity: 1 !important;
transform: translate(0, 0) !important;
}

footer {
background-color: rgb(27, 27, 27);
position: absolute;
bottom:0px;
padding: 10px;
width: 500px;
color: white;
font-size: 15px;
justify-content: center;
text-align: center;
text-decoration: none;
}

#alert {
position: fixed;
top: 20px;
left: 50%;
transform: translateX(-50%);
background-color: rgba(255, 255, 255, 0.5);
padding: 10px 20px;
border-radius: 15px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
font-size: 16px;
text-align: center;
z-index: 1000;
}

.spinner {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 9999;
}

.top-image {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.bottom-image {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}


.ucapan-item {
align-items: center;
justify-content: center;
padding-top: 5px;
}

.ucapan-item strong {
color: rgb(0, 0, 0);
}

.ucapan-item small {
font-size: 15px;
color: rgb(150, 150, 150);
}


.alert-box {
position: fixed;
bottom: 50%;
left: 50%;
transform: translateX(-50%);
padding: 10px;
background-color: rgba(0, 0, 0, 0.5);
color: whitesmoke;
border-radius: 15px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
font-size: 16px;
text-align: center;
width: 60%;
max-width: 600px;
min-width: 200px;
z-index: 99999;
}

.ucapan-container {
max-height: 500px;
overflow-y: auto;
margin-bottom: 20px;
width: 90%;
max-width: 800px;  /* Menyembunyikan scrollbar namun tetap bisa scroll */
background-color: rgba(255, 255, 255, 0.8);
border-radius: 20px 20px;
padding: 20px;
scrollbar-width: thin; /* Hanya menampilkan scrollbar tipis (untuk Firefox) */
scrollbar-color: transparent transparent; /* Menyembunyikan scrollbar (untuk Firefox) */
text-align: left; /* HAPUS BAGIAN INI JIKA INGIN DITENGAH */

}

.ucapan-container::-webkit-scrollbar {
width: 0px; /* Menyembunyikan scrollbar untuk Webkit browser (Chrome, Safari, Edge) */
}

.ucapan-container::-webkit-scrollbar-thumb {
background: transparent; /* Menyembunyikan scrollbar thumb */
}

.ucapan-container::-webkit-scrollbar-track {
background: transparent; /* Menyembunyikan track scrollbar */
}

.ucapan-section{
width: 90%;
padding-bottom: 50px;
}


